

/*.opacity {
    opacity:50%;
}*/

.hide {
    opacity:0;
}

.right-slide {
    @include rightToLeft;
    margin-top:120px;
      h1{
        color:$floatText;
        opacity:1.0;
      }
}

img.display-image {
  max-height:300px;
  max-width:auto;
  margin-top:225px;
  margin-right:30px;
  border:1px solid black;
  border-radius:10px;
}

.left-slide{
    @include leftToRight;
    margin-top:120px;
    opacity:1.0;
    color:$floatText;
}

#tagline {
    @include flexCenter;
    @include leftToRight;
    color:$paragraphText;
    padding-top:200px;
    padding-bottom:200px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight:bold;
    font-size:150%;
    border-top:solid 5px white;
    border-bottom:solid 5px white;
}

.nav-link {
  font-family: 'Julius Sans One', sans-serif;
}
