@import "./variables";
@import "./body";

.parallax {
    @include parallax;  
}
    
.parallax2 {
    @include parallax;
    background: url(../assets/images/grow.jpg);
    background-position: 55%; 
    height: 600px;
       
}

li {
    color:black;
}
h1 {
    @include flexCenter;
    color:white;
    font-family: 'Julius Sans One', sans-serif;
}

#grow {
     margin-top:100px;
}




